apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: go-3tier-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: acekloudnative/go-3-tier-app-backend:v0.1.1
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
        # securityContext:  
        #   allowPrivilegeEscalation: false  
        #   runAsUser: 1000  
        #   readOnlyRootFilesystem: true
        #   runAsNonRoot: true
        env:
        - name: MONGO_URI
          valueFrom:
            configMapKeyRef:
              name: backendconfig
              key: MONGO_URI
        - name: PORT
          valueFrom:
            configMapKeyRef:
              name: backendconfig
              key: PORT

---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: go-3tier-app
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: ClusterIP