apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: go-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: acekloudnative/go-3-tier-app-backend:v0.1.0
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
        # securityContext:  
        #   allowPrivilegeEscalation: false  
        #   runAsUser: 1000  
        #   readOnlyRootFilesystem: true
        #   runAsNonRoot: true
        env:
        - name: MONGO_URI
          valueFrom:
            configMapKeyRef:
              name: appconf
              key: MONGO_URI
        - name: PORT
          valueFrom:
            configMapKeyRef:
              name: appconf
              key: PORT

---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: go-backend
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: ClusterIP