apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: go-3tier-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      securityContext:
          seccompProfile:
            type: RuntimeDefault
          runAsUser: 1000
          runAsGroup: 3000 
          fsGroup: 2000 
          runAsNonRoot: true
      containers:
      - name: backend
        image: acekloudnative/go-3-tier-app-backend:v0.1.1
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
        env:
        - name: MONGO_URI
          valueFrom:
            configMapKeyRef:
              name: backendconfig
              key: MONGO_URI
        - name: PORT
          valueFrom:
            configMapKeyRef:
              name: backendconfig
              key: PORT
        securityContext:
          allowPrivilegeEscalation: false
          privileged: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL

---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: go-3tier-app
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: ClusterIP