apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: go-ui
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: acekloudnative/go-3-tier-app-ui:v0.1.0
        ports:
        - containerPort: 80
        env:
        - name: VITE_BACKEND_URL
          valueFrom: # Reference the backend service
            configMapKeyRef:
              name: appconf
              key: VITE_BACKEND_URL
---



apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: go-ui
  labels:
    app: frontend
  # annotations:
  #   service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing # Makes the LB internet-facing
spec:
  type: ClusterIP
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80