apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo-deployment
  namespace: go-3tier-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
    spec:
      securityContext: 
        seccompProfile:
          type: RuntimeDefault
        runAsUser: 1002
        runAsGroup: 3002 
        fsGroup: 2002 
        runAsNonRoot: true
      containers:
      - name: mongo
        image: mongodb/mongodb-community-server:8.0-ubuntu2204
        args: ["--unixSocketPrefix", "/data/db/tmp"]
        ports:
        - containerPort: 27017
        volumeMounts:
        - name: mongo-storage
          mountPath: /data/db
        - name: mongo-storage
          mountPath: /data/db/tmp
        securityContext:
          allowPrivilegeEscalation: false
          privileged: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
      volumes:
      # - name: mongo-storage
      #   hostPath:
      #     path: /tmp/mongo-data  # Replace with a suitable path
      #     type: DirectoryOrCreate
      - name: mongo-storage
        persistentVolumeClaim:
          claimName: mongo-pvc
      
---
apiVersion: v1
kind: Service
metadata:
  name: mongo-service
  namespace: go-3tier-app
spec:
  selector:
    app: mongo
  ports:
    - protocol: TCP
      port: 27017
      targetPort: 27017
  type: ClusterIP

---
# apiVersion: v1
# kind: PersistentVolumeClaim
# metadata:
#   name: mongo-pvc
# spec:
#   accessModes:
#     - ReadWriteOnce
#   resources:
#     requests:
#       storage: 1Gi
#   storageClassName: local-storage

